.wish-list-container {
    margin-top: 3rem;
    text-align: center;
    min-height: 4rem;
    width: 100%;
}

.wish-list-container h3 {
    margin-bottom: 1rem;
}

.wish-list {
    list-style: none;
    margin-bottom: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wish-list-item {
    padding: .2rem;
    padding-right: 3rem;
    position: relative;
    width: 300px;
}

.wish-list-item-details {
    font-size: .8rem;
    font-weight: 600;
}

.wish-list-item:hover .change-amount {
    visibility: visible;
}
.wish-list-item:hover .wish-list-item-details {
    visibility: hidden;
}

.change-amount {
    visibility: hidden;
    height: 1rem;
    width: 3.6rem;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
}

.change-amount button {
    height: 1.2rem;
    width: 1.2rem;
    text-align: center;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.change-amount span {
    width: 1.6rem;
    aspect-ratio: 1;
}
